* {
    margin: 0px;
    padding: 0px;
    
}
@font-face {
    font-family: 'passion';
    src: url('fontes/PassionOne-Regular.ttf') format(truetype);
}
@font-face {
    font-family: 'sriracha';
    src: url('fontes/Sriracha-Regular.ttf') format(truetype);
}
    

:root{
    --font1:verdana, sans-serif
    --font2:'passion', cursive
    --font3:'sriracha', cursive
}
body{
    
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: 'passion';
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'sriracha';
    font-size: 3vw;
}
section >  p{
    padding-bottom: 2em;
    
}
section.imagem{
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.349);
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    width: 400px;
    display: inline-block;
    padding: 10px;
    text-shadow: 1px 1px 1px  black;
    
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center  ;
    background-size: cover;
    

}
section#img02{
    background-image: url(imagens/background002.jpg);
    background-position: right center  ;
    background-size: cover;
}
section.normal{
    background-color: white ;
    color: black;
}
header{
    background-color: black;
    text-align: center;
    color: white;


}
header > h1{
    font-variant: small-caps;
    padding-top: 50px;
    font-family: 'passion';
    font-size: 5vw
}
header > p{
    padding-bottom: 50px;
    
}
a{
    color: white;
    font-size: larger;
    text-decoration: none;
    
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color:black ;
    color: white;
    padding: 10px;
    text-align: center;
}